# DEBUG | INFO | WARNING | ERROR | CRITICAL
LOG_LEVEL=INFO

# dev | prod
ENV=prod

# Directory for storing models
MODELS_DIR=models

# Directory for uploaded files
FILES_DIR=data/files

# WEB root path
ROOT_PATH=/spoof-check

# Device to run inference on (e.g., "cpu", "cuda", "cuda:0")
DEVICE=cpu

COMPUTE_TYPE=float32
